/* Navbar.css */

.navbar {
  background-color: #4B3E75; /* Dark purple background color */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-links {
  display:contents;
  align-items: center;
}

.navbar-links button {
  background: linear-gradient(145deg, #6C5CE7, #A29BFE); /* Gradient background */
  color: white;
  border: none;
  padding: 10px 22px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 25px;
  transition: background 0.3s, transform 0.3s;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-links button:hover {
  background: linear-gradient(145deg, #A29BFE, #6C5CE7); /* Reverse gradient on hover */
  transform: translateY(-2px); /* Slightly lift the button on hover */

}

.navbar-user {
  font-size: 1em;
  margin-right: 10px;
  text-align: center;
}

.navbar-links span, .navbar-links button {
  display: flex;
  align-items: center;
}

.navbar-links button:focus {
  outline: none;
}

/* Specific styles for the "LOGOUT" button */
.logout-button {
  background: linear-gradient(145deg, #FF6B6B, #FF4B4B); /* Gradient background for logout button */
}

.logout-button:hover {
  background: linear-gradient(145deg, #FF4B4B, #FF6B6B); /* Reverse gradient on hover */
}
